<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <h1>Create New Posts</h1>
    <form method="post" action="/posts">
        <div>
        <input placeholder="Enter username" name="username">
        <br/> <br/>
        <textarea placeholder="Enter content" name="content"></textarea>
        <br/>
        <button>Submit</button>
        </div>
    </form>
</body>
</html>