<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post in Details</title>
</head>
<body>
    <h1>Here is your Post in detail</h1>
    <h2>id: <%= post.id %></h2>
    <div class="detail">
            <div>
                <h3>Username: <%= post.username %></h3>
                <h3>Content: <%= post.content %></h3>
            </div>
    </div>
</body>
</html>